/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
    --main-text-color: #231f20;
    --main-background-color: #eee;
    --button-background-color: #f0efef;
    --button-text-color: #656565;
    --button-border-radius: 0.375em;
    --link-color: #005398;
    --link-hover-color: #0078d4;
    --section-background-color: #f0efef;
    --section-text-color: #4c4747;
    --section-border-radius: 0.375em;
    --section-padding: 2.5em 0 7.5em;
    --section-margin: 5em 0 6em;
    --section-line-height: 1.7;
}

/* Donkere modus stijl gaat automatisch wanneer mensen een dark theme op hun computer aan hebben gezet */
@media (prefers-color-scheme:dark) {
    :root {
        --main-text-color: #ffffff;  
        --main-background-color: #2b2048;
        --button-background-color: #f0efef;
        --button-text-color: #2b2048;
        --link-color: #ffffff;
        --link-hover-color: #ffffff;
        --section-background-color: #005398;
        --section-text-color: #321e67; 
    }
}




/****************/
/* JOUW STYLING */
/****************/

body{ 
    color: var(--main-text-color);
	line-height: 1.375em;
	margin: 0;
    min-height: 100%;
	font-size: 1.125em;
    font-family: arial,helvetica
}

body.dark-mode {
    background-color: #2b2048;
    color: #eee;
}



.sr-only { /* bron: https://css-tricks.com/inclusively-hidden/e */
    
    
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap; 
        width: 1px;
}

p{ font-size: 1em;
   margin-left: 1.5em;
   margin-right: 1.5em;
}

.dark-mode p{
    color:#f0efef;
}

a{
    text-decoration: none;
    color: #f26522;
}

.dark-mode a{
    color: #ffffff;
}

main p{
    display: block;  
}


/* informatie over opmaak van de button komn van de nijntje website */
button{ 
    right: 1.2em;
    top: 1.2em;
    overflow: visible;
    position: fixed;
	cursor: pointer;
    font-weight:bolder;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: var(--button-border-radius);
    z-index: 9999;
}

button, button:active {
font-size: 1.125em;
height: 2em;
display: inline-block;
line-height: 100%;
text-transform: lowercase;
outline: 0;
border: 0.125em solid #f0efef;
padding: 0.100em 0.500em 0;
transition: all .35s cubic-bezier(.06,.4,.5,.95);
}

button:focus{
    outline: 2px solid #0078d4;
    outline-offset: 0.2em;   /* Zorg voor wat afstand tussen de rand en de knop */
}

button:hover {
    rotate:10deg;
  }

button[disabled]{ 
	cursor: default ;
	opacity: 2;
    cursor: not-allowed;
    color: #fff;
    border: 2px solid #fff;
    transform: scale(1)!important}


    /* onderstaande code is voor de uitschuif menubalk 
BRON: chatgpt en w33 schools, transitions snelheid enz, van de nijntje website   WERKT NOG NIETT goed*/
nav {
    position: fixed;
    top: 0;
    right: -100%; /* Verplaats het menu buiten het zichtbare scherm */
    width: 100%;
    height: 100%;
    background: #917d70;
    color: #fff;
    transition: all .25s ease;
    z-index: 1500;
    padding-bottom: 2.5em;
    padding-top: 4em;
    text-transform: lowercase;
}

/* Donkere modus stijl */
.dark-mode nav {
    background: #2b2048;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 0.625em;
    text-align:start;
    padding-left: 2em;
    font-weight: bolder;
    line-height: 0.5em;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav.active {
    right: 0;
}


header {
    transition: all .25s ease;
}

header.active {
    background: #917d70;
    color: white;
}

/* dark mode*/  
.dark-mode header.active {
    background: #2b2048;
}

img[alt="flag"] {     /* de opmaak van de vlaggetjes in de nav*/  
    width: 1.75em;
    border-radius: 2px;
}


img[alt="Flag"] {
    width: 1.75em;
}

.eersteheader, .tweedeheader {
    display: block;
    width: 100%;
    background: rgba(255,255,255,.99);
    z-index: 999;
    opacity: .96;
    padding: 0.625em 0.938em;
    position: fixed;
    top: 0;
    z-index: 9999;
}

/* Donkere modus stijl */
.dark-mode .eersteheader, .dark-mode .tweedeheader {
    background: #2b2048;
    color: #eee;
}

.eersteheader.hide { /*word getoggelt (omhoog gegooid) in javascript*/  
    transform: translate3d(0,-100%,0);
}

.eersteheader p, .tweedeheader p{ 
    padding-left: 3em;
    text-transform: lowercase;
    font-weight: bolder;
    padding-top: 0.250em;
}

/* Donkere modus stijl */
.dark-mode .eersteheader p, .dark-mode .tweedeheader p { 
    color: #ffffff;
}



/* logo nijntje */  
img[alt="nijntjelogo"] {
    width: 3.3em;
    position: fixed;
    border-radius: 100%;
    left: 1em;
    top: 1em;  
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Begin bij 0 graden rotatie */
    }
    to {
        transform: rotate(360deg); /* Eindig bij 360 graden rotatie */
    }
}

img{ 
    max-width: 90%;
    border-radius: 05%;
}

h1{
    margin: 0.67em 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
}

img[alt="nijntje homepagina"] {
    width: 30%;
    display: block;
    margin: 3em auto 0;
}    



/* De onderstaande code is voor de fotocollage op de homepaige */

.image-grid ul {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(7em, 1fr) );
    max-width: 90%;
    margin: 0 auto;
    padding-left: 0;
}


.image-grid li:first-of-type{
    grid-column-start: 1;
    grid-column-end: -1;
}

.image-grid li {
    list-style: none;
}

.image-grid img {
    max-width: 100%;
}

.image-grid img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.image-grid img:focus {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
    
/* deze code is voor de blauwe section óver nijntje */
main > section:nth-child(1) {
    background: #005398;
    color: #fff;
    padding: var(--section-padding);
    margin: var(--section-margin);
    line-height: var(--section-line-height);
}

main > section:nth-child(1) h1 {
    text-align: left;
    margin-left: 1em;
    margin-bottom: 0em;
}

/* deze code is voor de het licht blauwe blok in óver nijntje */
main > section > p:nth-of-type(2) {
    background: rgba(255,255,255,.1);
    display: block;
    font-weight: 700;
    border-radius: 0.375em;
    padding: 1.25em 1.875em;
    margin: 1em 4em 1em 1.7em;
}

/* Donkere modus stijl */
.dark-mode main > section > p:nth-of-type(2) {
    background:#2b2048; /* Pas de donkere modus achtergrondkleur aan */
    /* Voeg andere donkere modus stijlen toe indien nodig */
}



        /* deze code is voor de nijntje afbeedling */
img[alt="Hoofdafbeelding nijntje"] {
    max-height: 9em;
    position: absolute;
    left: 30%;
    margin-top: -11.5em;
}

img[alt="Hoofdafbeelding nijntje"]:hover {
    rotate:20deg;
    animation: rotate 10s infinite;
}



/* deze code is voor de losse grijze inhoudsopgave */
.inhoudsopgave {
    background-color: var(--section-background-color);
    text-transform: lowercase;
    margin: 2em 1em ;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    border-radius: 0.375em;
}

.dark-mode .inhoudsopgave{
    background-color: #005398;
}

ol{
    color: #f26522;
    font-weight: 700;
    padding-left: 3em ;
    display: list-item;
    line-height: 0.5em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}  /* */

.dark-mode ol{
    color: #ffffff;
}
      

            /* deze code is voor blockquote op de tweede pagina */
.blockquote{
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 1.3em;
    text-align: center;
    border-top: solid 0.188em #b1b1b1;
    border-bottom: solid 0.188em #b1b1b1;
    padding: 9px;
    margin: 3.125em auto;
}

h2{
    color: #4c4747;
    padding-left: 1.5em;
    }

.dark-mode h2{
    color: #ffffff;
}

h3{
    margin-left: 1.25em;
    font-size: 1.125em;
}
    

footer{
    text-transform: lowercase;
    color: rgba(35,31,32,.4);
    position: absolute;
    font-weight: bolder;
    right: 1.188em;
    font-size: 70%;
}



/* darkmode checkbox code*/
#dark-mode-toggle {
    width: 2em;
    height: 2em;
    background-color: #333;
    border: 0.22em solid #000;
    cursor: pointer;
    border-radius: 100%;
}
